<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Uploading form</title>
</head>
<body>
  <form action="/api/product" method="POST" 
  enctype='multipart/form-data'>

    <input type="text" name="name" value="CallMeSomehow">
    <input type="text" name="category" value="5b2d0c0aa776bf0912687498">
    <input type="text" name="code" value="1236544789">
    <input type="text" name="price" value="{}">
    <input type="text" name="available" value="true">
    <input type="text" name="size" value="{}">
    <input type="text" name="stock" value="false">
    <input type="text" name="discount" value="0">
    <input type="text" name="order" value="5">
    <input type="file" name="image">
    <input type="submit" value="sumbit">

</form>

  
</body>
</html>